<div class="answer">
  <div class="answer-side">
	<img class="userpic" title="{{ answer_author.user.username }}">
	<div class="answer-side-options">
	  {% spaceless %}
	  <div class="voting" data-id="{{ answer_author.pk }}">
		<div class="vote-amount">{{ answer_author.rating }}</div>
		<div class="vote-buttons">
		  <button class="vote-button vote-button_up">▲</button>
		  <button class="vote-button vote-button_down">▼</button>
		</div>
	  </div>
	  {% endspaceless %}
	  <br>
	  <input type="checkbox" id="correct_{{ answer.pk }}"> <label for="correct_{{ answer.pk }}">Correct</label>
	</div>
  </div>
  <div class="answer-body">
	{{ answer_text }}
  </div>
</div>
