<div class="answer">
  <div class="answer-side">
	<img class="userpic" title="{{ answer_author.user.username }}"{% if answer_author.avatar %} src="{{ answer_author.avatar.url }}"{% endif %}>
	<div class="answer-side-options">
	  {% spaceless %}
	  <div class="voting" data-id="{{ answer_author.pk }}">
		<div class="vote-amount">{{ answer_author.rating }}</div>
		{% if user.is_authenticated %}
		<div class="vote-buttons">
		  <button class="vote-button vote-button_up">▲</button>
		  <button class="vote-button vote-button_down">▼</button>
		</div>
		{% endif %}
	  </div>
	  {% endspaceless %}
	  <br>
	  {% if user.is_authenticated %}
	  <input class="correct-answer-checkbox" type="checkbox" id="correct_{{ answer.pk }}"{% if answer.is_right %} checked{% endif %}> <label class="correct-answer-label" for="correct_{{ answer.pk }}">Correct</label>
	  {% endif %}
	</div>
  </div>
  <div class="answer-body">
	{{ answer_text }}
  </div>
</div>
