<!DOCTYPE html>{% load staticfiles %}
<html lang="{{ settings.LANGUAGE_CODE }}">
  <head>
	<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="screen">
	<link rel="icon" href="{% static 'img/favicon.ico' %}" sizes="16x16">
	<title>AskPupkin</title>
	<script src="{% static 'js/jquery.js' %}"></script>
	<script src="{% static 'js/jquery.cookie.js' %}"></script>
	<script src="{% static 'js/lodash.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>
	{% block head %}{% endblock %}
  </head>
  <body>
	<div class="container">
	  <div class="header">
		<div class="title-wrap">
		  <h1 class="title"><a class="title-link" href="{% url 'home' %}">AskPupkin</a></h1>
		  <form class="header-search-form" action="{% url 'questions' %}" method="get">
			<input class="header-search-input" type="text" placeholder="Search" name="q" value="{{ query }}">
			<button>Ask!</button>
		  </form>
		</div>
		{% if user.is_authenticated %}
		<div class="status-wrap">
		  <a href="#"><img class="userpic userpic_header "{% if user.ask_user.avatar %} src="{{ user.ask_user.avatar.url }}"{% endif %}></a>
		  <div class="status-side">
			{{ user.username }}
			<div class="status-side-bottom">
			  <a class="status-side-bottom-link" href="{% url 'profile_edit' %}">settings</a>
			  <a class="status-side-bottom-link" href="{% url 'logout' %}?next={{ request.path }}">logout</a>
			</div>
		  </div>
		</div>
		{% else %}
		<div class="status-wrap status-wrap_logged-out">
		  <a href="{% url 'login' %}">login</a>
		  <a href="{% url 'signup' %}">sign up</a>
		</div>
		{% endif %}
	  </div>
	  <div class="body-wrap">
		<div class="body-sidebar">
		  <h2>Popular Tags</h2>
		  <div class="tags">
			{% for tag in popular_tags %}
			<div style="font-size: 100%">{{ tag.text }}</div>
			{% endfor %}
		  </div>
		  <h2 class="">Best Members</h2>
		  <ul class="best-members">
			{% for member in best_users %}
			<li><a href="#">{{ member.user.username }}</a></li>
			{% endfor %}
		  </ul>
		</div>
		<div class="body">
		  {% block body %}{% endblock %}
		</div>
	  </div>
	</div>
  </body>
</html>
