<!DOCTYPE html>{% load staticfiles %}
<html lang="{{ settings.LANGUAGE_CODE }}">
  <head>
	<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="screen">
	<link rel="icon" href="{% static 'img/favicon.ico' %}" sizes="16x16">
	<title>AskPupkin</title>
	<script src="{% static 'js/jquery.js' %}"></script>
	{% block head %}{% endblock %}
  </head>
  <body>
	<div class="container">
	  <div class="header">
		<div class="title-wrap">
		  <h1 class="title"><a class="title-link" href="{% url 'home' %}">AskPupkin</a></h1>
		  <form class="header-search-form" action="{% url 'home' %}" method="get">
			<input class="header-search-input" type="text" placeholder="Search" name="q">
			<button>Ask!</button>
		  </form>
		</div>
		{% if user.is_authenticated %}
		<div class="status-wrap">
		  <a href="#"><img class="userpic" src="/static/img/noavatar.png"></a>
		  <div class="status-side">
			<a class="status-side-profile-link" href="#">Dr. Pepper </a>
			<div class="status-side-bottom">
			  <a class="status-side-bottom-link" href="#">settings</a>
			  <form method="post" action="#"><button class="linkish-button">Logout</button></form>
			</div>
		  </div>
		</div>
		{% else %}
		<div class="status-wrap status-wrap_logged-out">
		  <a href="{% url 'login' %}">login</a>
		  <a href="{% url 'signup' %}">sign up</a>
		</div>
		{% endif %}
	  </div>
	  <div class="body-wrap">
		<div class="body-sidebar">
		  <h2>Popular Tags</h2>
		  <div class="tags">
			<div style="font-size: 130%">perl</div>
			<div style="font-size: 120%">python</div>
			<div style="font-size: 130%">TechnoPark</div>
			<div style="font-size: 80%">MySQL</div>
			<div style="font-size: 120%">django</div>
			<div style="font-size: 90%">Mail.Ru</div>
			<div style="font-size: 110%">Voloshin</div>
			<div style="font-size: 120%">Firefox</div>
		  </div>
		  <h2 class="">Best Members</h2>
		  <ul class="best-members">
			<li><a href="#">Mr. Freeman</a></li>
			<li><a href="#">Dr. House</a></li>
			<li><a href="#">Bender</a></li>
			<li><a href="#">Queen Victoria</a></li>
			<li><a href="#">V. Pupkin</a></li>
		  </ul>
		</div>
		<div class="body">
		  {% block body %}{% endblock %}
		</div>
	  </div>
	</div>
  </body>
</html>
