{% extends 'base.html' %}

{% load staticfiles %}

{% block head %}
<link href="{% static 'css/question.css' %}" rel="stylesheet" type="text/css" media="screen">
<script src="{% static 'js/jquery.validate.js' %}"></script>
<script src="{% static 'js/question.js' %}"></script>
{% if user.is_authenticated %}
<script class="answer-template" type="text/html">
  {% with user.ask_user as answer_author %}
  {% with '<%- text %>' as answer_text %}
  {% include 'answer-block.html' %}
  {% endwith %}
  {% endwith %}
</script>
{% endif %}
{% endblock %}

{% block body %}
<div class="question">
  <div class="question-side">
	<img class="userpic userpic_question" title="{{ question.author.user.username }}">
	{% spaceless %}
	<div class="voting" data-id="{{ question.author.pk }}">
	  <div class="vote-amount">{{ question.author.rating }}</div>
	  {% if user.is_authenticated %}
	  <div class="vote-buttons">
		<button class="vote-button vote-button_up">▲</button>
		<button class="vote-button vote-button_down">▼</button>
	  </div>
	  {% endif %}
	</div>
	{% endspaceless %}
  </div>
  <div class="question-body">
	<h1 class="body-title">{{ object.title }}</h1>
	<p class="question-body-text">{{ question.text }}</p>
  	<p class="question-bottom">
	  Tags:
	  {% for tag in question.tags.all %}
	  <a href="#">{{ tag.text }}</a>
	  {% endfor %}
	</p>
  </div>
</div>

<div class="answers">
  {% for answer in page_obj %}
  {% with answer.author as answer_author %}
  {% with answer.text as answer_text %}
  {% include 'answer-block.html' %}
  {% endwith %}
  {% endwith %}
  {% endfor %}
</div>

{% if page_obj.has_other_pages %}
<div class="paginator">
  {% if page_obj.has_previous %}
  <a class="buttonish-link" href="{{ object.get_absolute_url }}?page={{ page_obj.previous_page_number }}">&lt;</a>
  {% endif %}  
  <span class="page-number">page #{{ page_obj.number }}</span>
  {% if page_obj.has_next %}
  <a class="buttonish-link" href="{{ object.get_absolute_url }}?page={{ page_obj.next_page_number }}">&gt;</a>
  {% endif %}
</div>
{% endif %}

<hr>

{% if user.is_authenticated %}
<form class="answer-form" action="" method="post">
  {% csrf_token %}
  <textarea class="answer-form-text" placeholder="Type your answer here" name="answer"></textarea>
  <div class="answer-submit-wrap">
	<button class="answer-submit">Send</button>
  </div>
</form>
{% else %}
<p>Do you want to answer this question? <a href="{% url 'login' %}?next={{ request.path }}">Login</a></p>
{% endif %}
{% endblock %}
